

.deenullah-regular {
  font-family: "DM Serif Display", serif;
  font-weight: 800;
}

.deenullah-italic {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: italic;
}

.header-bar {
    background-color: #452829;
}
.header-bar2 {
    background-color: #57595B;
}

.deenullah-color {
    color: #F3E8DF;
}

table, th, td {
  padding: 8px;
  
}
td {
  text-align: center;
}
table th {
  background-color: #57595B;
}
table tr:nth-child(even) {
  background-color: #fff;
}
table tr:nth-child(odd) {
  background-color: #f2f2f2; /* Light grey background */
}