

.deenullah-regular {
  font-family: "DM Serif Display", serif;
  font-weight: 800;
}

.deenullah-italic {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: italic;
}
.deenullah-DMSerif {
  font-family: "DM Serif Display", serif;
}

.deenullah-brown {
    background-color: #452829;
}
.header-bar2, .footer {
    background-color: #191919;
}

.deenullah-white {
    color: #F3E8DF;
}

p {
  font-size: 24px;
}

a {
  color: black;
  text-underline-offset: 5px;
}

table, th, td {
  padding: 8px;
}
td {
  text-align: center;
}
table a {
  text-decoration: none;
}
table th {
  background-color: #414345;
}
table tr:nth-child(even) {
  background-color: #f2f2f2;
}
table tr:nth-child(odd) {
  background-color: #B9BBB4; /* Light grey background */
}

/* 100% Image Width on Smaller Screens */
    @media only screen and (max-width: 700px){
        p {
          font-size: 20px;
        }
    } 