@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
        background-color: #e8d1c567;
        font-family: "Roboto", sans-serif;
	}

.deenullah-regular {
  font-family: "DM Serif Display", serif;
  font-weight: 800;
}

.deenullah-italic {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: italic;
}

.header-bar {
    background-color: #452829;
}
.header-bar2 {
    background-color: #57595B;
}

.deenullah-color {
    color: #F3E8DF;
}

table, th, td {
  border: 1px solid;
  padding: 6px;
}
td {
  text-align: center;
}