---
import Layout from '../layouts/Layout.astro';
---
<Layout>

  <div class="lg:flex">
    <div class="lg:w-[60%]">
      <div class="p-8">
        <span class="flex justify-center"><img src="/quran.svg" alt="Quran Icon" class="w-[64px] md:w-[72px] mb-[-10px] mt-4"></span>
        <h1 class="leading-10 md:leading-16 mb-[8px] deenullah-regular tracking-tight md:text-6xl">The Division of Juz by Maulana Imran Hosein</h1>
        <p>Recite the Quran at least once, cover to cover, each month. Try to complete each Juz (portion) on its equivalent lunar date. If a month has 29 days, recite the 30th Juz along with the 1st Juz next month.</p>
        <p>The recitation has many benefits. It forms a protective barrier against attacks. It also helps you experience time at its natural pace.</p>
        <p>Following is the division of Juz (30 parts) as proposed and recommended by Maulana Imran Hosein in his book <a href="https://imranhosein.org/o/wp-content/uploads/2021/04/Text-Final-The-Quran-and-the-Moon-Web.pdf" target="_blank" class="decoration-dashed">‘Quran and the Moon’</a>.</p>
      
      </div>
      <div class="flex justify-center">
      <table class="w-[100%] md:w-[75%] text-[18px] md:text-[20px]">
      <tr class="bg-[#57595B] deenullah-color">
        <th style="width:60px" class="deenullah-regular">Juz</th>
        <th style="width:200px" class="deenullah-regular">Surah / Suwar</th>
        <th style="width:80px" class="deenullah-regular">Verses</th>
      </tr>
      <tr>
        <td>1</td>
        <td>Fatiha<br>Baqara</td>
        <td>7<br>286</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Ale Imran</td>
        <td>200</td>
      </tr>
      <tr>
        <td>3</td>
        <td>An Nisa</td>
        <td>176</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Al Ma'ida</td>
        <td>120</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Al An'am</td>
        <td>165</td>
      </tr>
      <tr>
        <td>6</td>
        <td>Al A'raf</td>
        <td>206</td>
      </tr>
      <tr>
        <td>7</td>
        <td>Al Anfal<br>At Tawba</td>
        <td>75<br>129</td>
      </tr>
      <tr>
        <td>8</td>
        <td>Yunus<br>Hud</td>
        <td>109<br>123</td>
      </tr>
      <tr>
        <td>9</td>
        <td>Yusuf<br>Ar Ra'd</td>
        <td>111<br>43</td>
      </tr>
      <tr>
        <td>10</td>
        <td>Ibrahim<br>Al Hijr</td>
        <td>52<br>99</td>
      </tr>
      <tr>
        <td>11</td>
        <td>An Nahl</td>
        <td>128</td>
      </tr>
      <tr>
        <td>12</td>
        <td>Al Isra<br>Al Kahf</td>
        <td>111<br>110</td>
      </tr>
      <tr>
        <td>13</td>
        <td>Maryam<br>Ta Ha</td>
        <td>98<br>135</td>
      </tr>
      <tr>
        <td>14</td>
        <td>Al Anbiya<br>Al Hajj</td>
        <td>112<br>78</td>
      </tr>
      <tr>
        <td>15</td>
        <td>Al Mu'minun<br>An Nur</td>
        <td>118<br>64</td>
      </tr>
      <tr>
        <td>16</td>
        <td>Al Furqan<br>Ash Shu'ara</td>
        <td>77<br>227</td>
      </tr>
      <tr>
        <td>17</td>
        <td>An Naml<br>Al Qasas<br>Al Ankabut</td>
        <td>93<br>88<br>69</td>
      </tr>
      <tr>
        <td>18</td>
        <td>Ar Rum<br>Luqman<br>As Sajda<br>Al Ahzab</td>
        <td>60<br>34<br>30<br>73</td>
      </tr>
      <tr>
        <td>19</td>
        <td>Saba<br>Fatir<br>Ya Sin<br>As Saffat</td>
        <td>54<br>45<br>83<br>182</td>
      </tr>
      <tr>
        <td>20</td>
        <td>Sad<br>Az Zumar<br>Ghafir</td>
        <td>88<br>75<br>85</td>
      </tr>
      <tr>
        <td>21</td>
        <td>Fussilat<br>Ash Shura<br>Az Zukhruf<br>Ad Dukhan</td>
        <td>54<br>53<br>89<br>59</td>
      </tr>
      <tr>
        <td>22</td>
        <td>Al Jathiya<br>Al Ahqaf<br>Muhammad<br>Al Fath<br>Al Hujurat</td>
        <td>37<br>35<br>38<br>29<br>18</td>
      </tr>
      <tr>
        <td>23</td>
        <td>Qaf<br>Adh Dhariyat<br>At Tur<br>An Najm<br>Al Qamar</td>
        <td>45<br>60<br>49<br>62<br>55</td>
      </tr>
      <tr>
        <td>24</td>
        <td>Ar Rahman<br>Al Waqi'a<br>Al Hadid<br>Al Mujadila</td>
        <td>78<br>96<br>29<br>22</td>
      </tr>
      <tr>
        <td>25</td>
        <td>Al Hashr<br>Al Mumtahana<br>As Saff<br>Al Jumu'a<br>Al Munafiqun<br>At Taghabun<br>At Talaq<br>At Tahrim<br>Al Mulk<br>Al Qalam</td>
        <td>24<br>13<br>14<br>11<br>11<br>18<br>12<br>12<br>30<br>52</td>
      </tr>
      <tr>
        <td>26</td>
        <td>Al Haqqa<br>Al Ma'arij<br>Nuh<br>Al Jinn<br>Al Muzammil<br>Al Mudaththir</td>
        <td>52<br>44<br>28<br>28<br>20<br>56</td>
      </tr>
      <tr>
        <td>27</td>
        <td>Al Qiyama<br>Al Insan<br>Al Mursalat<br>An Naba<br>An Nazi'at</td>
        <td>40<br>31<br>50<br>40<br>46</td>
      </tr>
      <tr>
        <td>28</td>
        <td>Abasa<br>At Takwir<br>Al Infitar<br>Al Mutaffifin<br>Al Inshiqaq<br>Al Buruj<br>At Tariq<br>Al A'la<br>Al Ghashiya</td>
        <td>42<br>29<br>19<br>36<br>25<br>22<br>17<br>19<br>26</td>
      </tr>
      <tr>
        <td>29</td>
        <td>Al Fajr<br>Al Balad<br>Ash Shams<br>Al Layl<br>Ad Dhuha<br>Ash Sharh<br>At Tin<br>Al Alaq<br>Al Qadr</td>
        <td>30<br>20<br>15<br>21<br>11<br>8<br>8<br>19<br>5</td>
      </tr>
      <tr>
        <td>30</td>
        <td>Al Bayyina<br>Az Zalzala<br>Al Adiyat<br>Al Qari'a<br>At Takathur<br>Al Asr<br>Al Humaza<br>Al Fil<br>Quraysh<br>Al Ma'un<br>Al Kawthar<br>Al Kafirun<br>An Nasr<br>Al Masad<br>Al Ikhlas<br>Al Falaq<br>Al Nas</td>
        <td>8<br>8<br>11<br>11<br>8<br>3<br>9<br>5<br>4<br>7<br>3<br>6<br>3<br>5<br>4<br>5<br>6</td>
      </tr>
    </table>
    </div> 
    </div>
    <div class="lg:w-[40%]">

    </div>
  </div>

</Layout>