---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import { db, Comment } from 'astro:db';

const comments = await db.select().from(Comment);

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
    <a href="/divisionofjuz" class="no-underline">
    <div class="p-6 flex">
        <img src="../article.svg" alt="Article" class="w-[64px] mr-4">
        <h2 class="deenullah-regular md:text-4xl tracking-tight leading-8">The Division of Juz by Maulana Imran Hosein</h2>
    </div>
    </a>

</Layout>
