---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import { AstroSeo } from '@astrolib/seo';
---
<AstroSeo
  title="Deenullah - The Way of Life"
  description="Notes and Articles by the Islamic student Nabeel Aejaz."
/>
<Layout>
    <a href="/divisionofjuz" class="no-underline">
    <div class="p-6 flex">
        <div class="bg-[#B9BBB4] md:p-14 p-4 flex rounded-full">
          <img src="../article.svg" alt="Article" class="w-[64px] mr-4">
          <h2 class="deenullah-regular md:text-4xl tracking-tight leading-8">The Division of Juz by Maulana Imran Hosein</h2>
        </div>
    </div>
    </a>

</Layout>
