---
import "../styles/global.css";
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Deenullah - The Way of Life</title>
	</head>
	<body>
		<div class="header-bar flex">
			<h1 class="text-3xl deenullah-regular deenullah-color p-2 pt-4 ml-4">DEENULLAH</h1> <div class="text-base deenullah-italic deenullah-color mt-5">- The Way of Life</div>
		</div>
		<div class="header-bar2 p-1">
		</div>
		<slot />
	</body>
</html>
